a.clm_hasTip {
	position: relative;
	display: inline;
}
a.clm_hasTip span {
	position: absolute;
	width:140px;
	color: #FFFFFF;
	background: #000000;
	height: 30px;
	line-height: 30px;
	text-align:center;
	text-align:-moz-center;
	text-align:-webkit-center;
	visibility: hidden;
	border-radius: 6px;
}
a.clm_hasTip span:after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -8px;
	width: 0; height: 0;
	border-top: 8px solid #000000;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;
}
a:hover.clm_hasTip span {
	visibility: visible;
	opacity: 0.8;
	bottom: 30px;
	left: 50%;
	margin-left: -76px;
	z-index: 999;
}
