#toolbar-box .m, #element-box .m {
	background: #FFFFFF !important;
}

#clm div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}
#clm div.icon img {
	margin: 0 auto;
	float: none;
	padding: 10px 0;
}

#clm div.icon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 107px;
	width: 108px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
}

#clm div.icon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	color: #0B55C4;
}

#clm img  { padding: 10px 0; margin: 0 auto; }
#clm span { display: block; text-align: center; }

#clm_infobox fieldset.adminform {margin:  0 10px 0 0;}
#clm_infobox ul { padding: 5px 0 0 15px; margin: 0; }
#clm_infobox li { list-style-type: square; }
#clm_infobox a {  }
#clm_infobox img { padding: 5px 0; }

.icon-32-export 			{ background-image: url(icon-32-export.png); }
.icon-32-download 			{ background-image: url(icon-32-download.png); }
.icon-32-refresh 			{ background-image: url(icon-32-refresh.png); }
.icon-32-specialrankings 	{ background-image: url(icon-32-specialrankings.png); }
.icon-32-minus 			{ background-image: url(icon-32-minus.png); }

.icon-48-clm_info, .icon-48-clm_logo_bg		{ background-image: url(clm_logo_bg.png); padding-left: 35px !important;text-shadow: #c0c0c0 1px 2px; color: #5B8383 !important; line-height: 52px !important;}
.icon-48-clm_user		{ background-image: url(clm_user.png); }
.icon-48-clm_manager		{ background-image: url(clm_manager.png); }
.icon-48-clm_elobase		{ background-image: url(clm_elobase.png); }
.icon-48-clm_einstellungen	{ background-image: url(clm_einstellungen.png);background-position:left; }
.icon-48-clm_settings		{ background-image: url(clm_settings.png); }
.icon-48-clm_settings_2		{ background-image: url(clm_settings_2.png); }
.icon-48-clm_turnier		{ background-image: url(clm_turnier.png); background-position:left;}
.icon-48-clm_headmenu_benutzer		{ background-image: url(clm_headmenu_benutzer.png); background-position:left;}
.icon-48-clm_headmenu_datenbank		{ background-image: url(clm_headmenu_datenbank.png); background-position:left;}
.icon-48-clm_headmenu_liga		{ background-image: url(clm_headmenu_liga.png); background-position:left;}
.icon-48-clm_headmenu_mturnier		{ background-image: url(clm_headmenu_mturnier.png); background-position:left;}
.icon-48-clm_headmenu_mannschaften		{ background-image: url(clm_headmenu_mannschaften.png); background-position:left;}
.icon-48-clm_headmenu_saison		{ background-image: url(clm_headmenu_saison.png); background-position:left;}
.icon-48-clm_headmenu_sonderranglisten	{ background-image: url(clm_headmenu_sonderranglisten.png); background-position:left;}
.icon-48-clm_headmenu_elobase		{ background-image: url(clm_headmenu_elobase.png); background-position:left;}
.icon-48-clm_headmenu_einstellungen		{ background-image: url(clm_headmenu_einstellungen.png); background-position:left;}
.icon-48-clm_headmenu_vereine { background-image: url(clm_headmenu_vereine.png); background-position:left;}
.icon-48-clm_headmenu_mitglieder { background-image: url(clm_headmenu_mitglieder.png); background-position:left;}
.icon-48-clm_headmenu_manager { background-image: url(clm_headmenu_manager.png); background-position:left;}
.icon-48-clm_headmenu_termine		{ background-image: url(clm_headmenu_termine.png); }

.icon-48-clm_generic	{ background-image: url(clm_todo.png); }

textarea { font-family: Arial, Helvetica, sans-serif; padding: 2px; }